<div class="widget tag">
    <h3 class="title">友情链接</h3>
      <ul class="entry">
		 <li class='link'><a href='http://www.1234.sh'>あまみや ゆうこ blog</a></li>
		 <li class='link'><a href="http://www.linuxdot.net">Linux DotNET大本营</a></li>
      </ul>
</div>